{% extends "layout.html" %}

{% block content %}
    <div class="ui inverted segment">
        <h3 class="ui white justified inverted header">
            <div class="row">
                {{ strategy.name }}
            </div>
        </h3>
    </div>
    <table class="ui collapsing celled striped inverted black table">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td><a href="/stock/{{ stock.symbol }}">{{ stock.symbol }}</a></td>
                <td>{{ stock.name }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}